*.txt
*.pdf
/src/eig_problem/ZagadnienieWlasneAntidot.py
src/eig_problem/nieuzywane
src/fft_from_image/nieuzywane
__pycache__
.idea
src/drawing/__init__.py
src/drawing/test.py
src/fft_from_image/__init__.py
src/fft_from_image/niuzywane/F5.png
src/fft_from_image/niuzywane/F6.png
src/fft_from_image/niuzywane/TM3.png
src/fft_from_image/niuzywane/TM4.png
src/fft_from_image/niuzywane/TM5.png
src/fft_from_image/niuzywane/TM6.png
src/fft_from_image/radius90.png
src/fft_from_image/radius90a.png
src/fft_from_image/radius90b.png
